Repository I3uckwheat/cards-of-carousal, pull requests merged in 2021-05, with the labels that each got.

#293 Feature/176 toggle join code display
  frontend/src/components/HostSettingsMenu/SettingsSubComponents/JoinCodeHider.js
  frontend/src/components/HostSettingsMenu/SettingsSubComponents/JoinCodeHider.spec.js
  frontend/src/components/JoinCode/JoinCode.js
  frontend/src/components/JoinCode/JoinCode.spec.js
  frontend/src/contexts/HostContext/HostContext.js
  frontend/src/contexts/HostContext/HostReducer.js
  frontend/src/contexts/HostContext/HostReducer.spec.js
Labels: frontend

#264 Hotfix/Pack Typo Fix 1
  backend/app/assets/cah-cards-full.json
Labels: backend, minor

#318 Add host minimum window size enforcement screen
  frontend/src/__snapshots__/App.spec.js.snap
  frontend/src/screenControllers/HostScreenController/HostScreenController.js
Labels: frontend

#317 **DRAFT** Refactor/298 implement player breakpoints
  frontend/src/__snapshots__/App.spec.js.snap
  frontend/src/layouts/CardHandLayout/CardHandLayout.js
  frontend/src/layouts/CardHandLayout/__snapshots__/CardHandLayout.spec.js.snap
  frontend/src/screens/CzarHandScreen/__snapshots__/CzarHandScreen.spec.js.snap
  frontend/src/screens/PlayerErrorScreen/PlayerErrorScreen.js
  frontend/src/screens/PlayerHandScreen/__snapshots__/PlayerHandScreen.spec.js.snap
  frontend/src/screens/PlayerJoinScreen/PlayerJoinScreen.js
  frontend/src/screens/PlayerJoinScreen/__snapshots__/PlayerJoinScreen.spec.js.snap
  frontend/src/screens/PlayerMessageScreen/PlayerMessageScreen.js
  frontend/src/screens/WelcomeScreen/WelcomeScreen.js
  frontend/src/screens/WelcomeScreen/__snapshots__/WelcomeScreen.spec.js.snap
Labels: frontend

#316 Refactor/299 breakpoint implementation host
  frontend/src/__snapshots__/App.spec.js.snap
  frontend/src/components/GameSettings/GameSettings.js
  frontend/src/components/HostSettingsMenu/HostSettingsMenu.js
  frontend/src/components/HostSettingsMenu/__snapshots__/HostSettingsMenu.spec.js.snap
  frontend/src/components/Modal/AlertModal.js
  frontend/src/components/PregameWelcomeText/PregameWelcomeText.js
  frontend/src/config.js
  frontend/src/layouts/HostLayout.js
  frontend/src/layouts/__snapshots__/HostLayout.spec.js.snap
  frontend/src/screens/HostBlackCardScreen/__snapshots__/HostBlackCardScreen.spec.js.snap
  frontend/src/screens/HostGameOverScreen/__snapshots__/HostGameOverScreen.spec.js.snap
  frontend/src/screens/HostPregameScreen/__snapshots__/HostPregameScreen.spec.js.snap
  frontend/src/screens/HostRoundWinnerScreen/__snapshots__/HostRoundWinnerScreen.spec.js.snap
  frontend/src/screens/WinnerSelectScreen/__snapshots__/WinnerSelectScreen.spec.js.snap
Labels: frontend, refactor
